/* index css*/


.top{
width:100%;
height: auto;
margin-left: 0;
background:rgb(44, 29, 15);
position: fixed; /*固定在顶部*/
top: 0;/*离顶部的距离为0*/
margin-bottom: 5px;
}
.top ul{
/* 清除ul标签的默认样式 */
width: auto;/*宽度也改为自动*/
list-style-type: none;
white-space:nowrap;
overflow: hidden;
margin-left: 5%;
/* margin-top: 0;          */
padding: 0;

}
.top li {
float:left; /* 使li内容横向浮动，即横向排列  */
margin-right:2%;  /* 两个li之间的距离*/
position: relative;
overflow: hidden;
}

.top li a{
/* 设置链接内容显示的格式*/
display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
color: darksalmon;
text-align: center;
padding: 4px;
overflow: hidden;
text-decoration: none; /* 去除下划线 */



}
.top li a:hover{
/* 鼠标选中时背景变为黑色 */
background-color: rgb(19, 16, 16);
}
.top ul li ul{
/* 设置二级菜单 */
margin-left: -0.2px;
background:rgb(179, 99, 99);
position: relative;
display: none; /* 默认隐藏二级菜单的内容 */

}
.top ul li ul li{
/* 二级菜单li内容的显示 */

float:none;
text-align: center;
}
.top ul li:hover ul{
/* 鼠标选中二级菜单内容时 */
display: block;
}
.body_index{
background-image:url("sunset.jpg");
}
.table_index{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 200%;
color: rgb(168, 112, 59);
text-align: center;
margin-top: 100px;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
padding-top: 0%;
border-radius: 8px;
border-style: solid;
}
.dropdown_index {
position: relative;
display: inline-block;
text-align: center;
}

.dropdown-content_index {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.dropdown_index:hover .dropdown-content {
display: block;
}

/* aboutme css*/



* {
    box-sizing: border-box;
  }
  
  .body_aboutme {
    margin: 0;
  }
  .column{
    float: left;
    padding: 10px;
  }
  
  /* 左右列 */
  .column.side {
    width: 25%;
  }
  
  /* 中间列 */
  .column.middle {
    width: 50%;
  }
  
  /* 清除列之后的浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 响应式布局 - 创建堆叠而非并排的三列 */
  @media screen and (max-width: 600px) {
    .column.column.side, .column.column.middle{
      width: 100%;
    }
  }
  .top{
      width:100%;
      height: auto;
      margin-left: 0;
      background:rgb(44, 29, 15);
      position: fixed; /*固定在顶部*/
      top: 0;/*离顶部的距离为0*/
      margin-bottom: 5px;
  }
  .top ul{
      /* 清除ul标签的默认样式 */
      width: auto;/*宽度也改为自动*/
      list-style-type: none;
      white-space:nowrap;
      overflow: hidden;
      margin-left: 5%;
      /* margin-top: 0;          */
      padding: 0;
  
  }
  .top li {
      float:left; /* 使li内容横向浮动，即横向排列  */
      margin-right:2%;  /* 两个li之间的距离*/
      position: relative;
      overflow: hidden;
  }
  
  .top li a{
     /* 设置链接内容显示的格式*/
      display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
      color: darksalmon;
      text-align: center;
      padding: 4px;
      overflow: hidden;
      text-decoration: none; /* 去除下划线 */
  
  
  
  }
  .top li a:hover{
      /* 鼠标选中时背景变为黑色 */
      background-color: rgb(19, 16, 16);
  }
  .top ul li ul{
      /* 设置二级菜单 */
      margin-left: -0.2px;
      background:rgb(179, 99, 99);
      position: relative;
      display: none; /* 默认隐藏二级菜单的内容 */
  
  }
  .top ul li ul li{
      /* 二级菜单li内容的显示 */
  
      float:none;
      text-align: center;
  }
  .top ul li:hover ul{
      /* 鼠标选中二级菜单内容时 */
      display: block;
  }
  .body_aboutme{
      background-image:url("ME.jpg");
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/*  dishes css*/

  .body_dishes{
            background-image: url("flower.jpg");
        }
 .highlight_dishes{
            color: brown;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
 .td1_dishes{
            color: white;
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
        }
        .td2_dishes{
            color:white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .title_dishes{
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .table_dishes{
            text-align: center;
            margin-top: 90px;
        }

/* landmark css */


        .body_landmark{
            background-image: url("ocean.jpg");
        }
        .a_landmark{
            list-style: square;
            font-size: large;
            color: tomato;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        }
        .table_landmark{
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 90px;
        }
        .highlight_landmark{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: larger;
        }
        .td_Landmarks{
          background-color: cadetblue;
          border-color: coral;
          text-align: justify;
          direction: ltr;
        }